img {
    object-position: center;
    object-fit: contain;
    height: 150px;
    width: 150px;
}

span {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    display: flex;
}

#images-target {
    border: 2px solid black;
    border-radius: 10px;
    overflow: hidden;
    max-width: 100%;
    display: flex;
    height: 300px;
    width: 800px;
}

#images-target::before, #images-target::after {
    justify-content: center;
    align-items: center;
    text-align: center;
    color: lightgray;
    font-weight: 900;
    font-size: 3rem;
    display: flex;
    flex: 1;
}

#images-target::before {
    border-right: 2px solid black;
    content: "Skvělé";
}

#images-target::after {
    content: "Úžasné";
}