{% extends 'CV9/base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/bootstrap.min.css') }}">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
{% endblock %}

{% block body %}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ path("cv9_home") }}">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ path("cv9_ukol_1") }}">Poslipole</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ path("cv9_ukol_2") }}">Poslipolevpoli</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ path("cv9_ukol_3") }}">CSS</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ path("cv9_ukol_4") }}">CSS + pole</a>
        </li>
    </div>
  </div>
</nav>
{% endblock %}