{% extends 'CV9/base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/CV9.css') }}">
{% endblock %}

{% block body %}
    <h1 class="cervena">Červený text</h1>
{% endblock %}