{% extends 'CV9/base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/CV9.css') }}">
{% endblock %}

{% block body %}
    <h1>Pole</h1>

    <ul>
        {% for hodnota in pole %}
            {% if((loop.index % 2) == 0) %}
                <li class="sude">{{ hodnota }}</li>
            {% else %}
                <li class="liche">{{ hodnota }}</li>
            {% endif %}
        {% endfor %}
    </ul>
{% endblock %}
