<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student</title>
    <link rel="stylesheet" type="text/css" href="{{ asset('styles/bootstrap.min.css') }}">
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
</head>

<body>
    <form method="post" action="{{ path('app_student_delete', {'id': student.id}) }}" onsubmit="return confirm('Opravdu chcete odebrat tohoto studenta?');">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ student.id) }}">
        <button class="btn btn-danger mt-1">Smazat</button>
    </form>
</body>

</html>

