<!DOCTYPE html>

<title>Upravit studenta</title>

{% block body %}
    <h1>Upravit studenta</h1>

    {{ include('student/_form.html.twig', {'button_label': 'Upravit'}) }}

    <a href="{{ path('app_student_index') }}" class="btn btn-primary mt-1">zpět na seznam</a>

    {{ include('student/_delete_form.html.twig') }}
{% endblock %}
