<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student</title>
    <link rel="stylesheet" type="text/css" href="{{ asset('styles/bootstrap.min.css') }}">
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
</head>

{% block body %}
    <h1>Student</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>RČ Studenta</th>
                <th>Jméno</th>
                <th>Příjmení</th>
                <th>Ročník</th>
                <th>Akce</th>
            </tr>
        </thead>
        <tbody>
        {% for student in students %}
            <tr>
                <td>{{ student.id }}</td>
                <td>{{ student.studentID }}</td>
                <td>{{ student.jmeno }}</td>
                <td>{{ student.prijmeni }}</td>
                <td>{{ student.rocnik }}</td>
                <td>
                    <a href="{{ path('app_student_show', {'id': student.id}) }}" class="btn btn-primary">Zobrazit</a>
                    <a href="{{ path('app_student_edit', {'id': student.id}) }}" class="btn btn-primary">Upravit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Žádné záznamy nenalezeny</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_student_new') }}" class="btn btn-primary">Přidat studenta</a>
{% endblock %}
</html>
