<!DOCTYPE html>

<title>Přidání studenta</title>

{% block body %}
    <h1>Přidání nového studenta</h1>

    {{ include('student/_form.html.twig') }}

    <a href="{{ path('app_student_index') }}" class="btn btn-primary">zpět na seznam</a>
{% endblock %}
