<!DOCTYPE html>

<title>Student</title>

{% block body %}
    <h1>Student</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ student.id }}</td>
            </tr>
            <tr>
                <th>RČ studenta</th>
                <td>{{ student.studentID }}</td>
            </tr>
            <tr>
                <th>Jméno</th>
                <td>{{ student.jmeno }}</td>
            </tr>
            <tr>
                <th>Přijmení</th>
                <td>{{ student.prijmeni }}</td>
            </tr>
            <tr>
                <th>Ročník</th>
                <td>{{ student.rocnik }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_student_index') }}" class="btn btn-primary">Zpět na seznam</a>

    <a href="{{ path('app_student_edit', {'id': student.id}) }}" class="btn btn-primary">Upravit</a>

    {{ include('student/_delete_form.html.twig') }}
{% endblock %}
