#guess-box {
    justify-content: center;
    align-items: end;
    display: flex;
    gap: 10px;
}

img {
    object-position: center;
    object-fit: contain;
    height: 200px;
    width: 200px;
}

span {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    display: flex;
}

span p {
    visibility: hidden;
}

button {
    display: block;
}

p {
    text-align: center;
}