<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Symfony</title>
</head>
<body>

<nav>
    <ul>
        <li><a href="{{ path('cv8_ukol2', {'cv': '1'}) }}">CV 1</a></li>
        <li><a href="{{ path('cv8_ukol2', {'cv': '2'}) }}">CV 2</a></li>
        <li><a href="{{ path('cv8_ukol2', {'cv': '3'}) }}">CV 3</a></li>
    </ul>
</nav>

{% block body %}
{% endblock %}

</body>
</html>